################################################### DEPENDENCIES ###################################################
/**/node_modules

################################################### EDITOR & IDEs ##################################################
.vscode/*

################################################# COMPILED OUTPUT ##################################################
/**/coverage
/**/dist
/**/tmp
/**/out
/**/out-tsc

################################################## MISCELLANEOUS ###################################################
npm-debug.log
.DS_Store
Thumbs.db
.vscode-test/
